<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="RaoRao.IOTServer.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="RaoRao.IOTServer.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/RaoRao.IOTServer/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>

  <appSettings>
    <!--value为Log4.xml的绝对路径-->
    <add key="Log4" value="E:\Github\C#\trunk\RaoRao.Log\ConsoleApplication1\Config\Log4.xml"/> 
  </appSettings>
</configuration>
